html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "M PLUS Rounded 1c";
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 30px;
  font-size: 30px;
}

main h1 {
  font-size: 25px;
}

img {
  max-width: 600px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.image-list-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 20px;

  .image-container {
    max-width: 250px;
    max-height: 250px;
    margin: 5px;
  }
}

.markdown-container {
  margin-top: 10px;
  input {
    width: 300px;
  }
}
