.l-container {
  margin: 0 30px;
  max-width: 1165px;
}

.l-header {
  margin: 30px 30px;
}

.l-footer {
  position: absolute;
  margin: 30px 30px 10px;
  bottom: 0;
}

.l-center {
  display: flex;
  justify-content: center;
}
