.l-container {
  margin: 0 30px 70px;
}

.l-header {
  margin: 30px 30px;
}

.l-footer {
  position: absolute;
  margin: 10px 30px 10px;
  height: 40px;
  bottom: 0;

  display: flex;
  justify-content: flex-start;

  div {
    margin-right: 30px;
  }
}

.l-center {
  display: flex;
  justify-content: center;
}
