<p id="notice"><%= notice %></p>
<div class="image-list-container">
  <% @images.each do |image| %>
    <div class="image-container">
      <%= link_to image_path(image.slug) do %>
        <%= image_tag("//#{image.file.lgtm.url}", size: '200x200') %>
      <% end %>
    </div>
  <% end %>
</div>
