<p id="notice"><%= notice %></p>

<div class="l-center">
  <%= image_tag("//#{@image.file.lgtm.url}") %>
</div>
<div class="l-center markdown-container">
  <p>Markdown</p>
</div>
<div class="l-center markdown-container">
  <input type="text" value="![LGTM](<%= "https://#{@image.file.lgtm.url}" %>)"/>
</div>
